* {
    box-sizing: border-box;
}
html{
    font-size: 14px;
}

body{
    margin:0;
    padding:0;
}

.centre {
    max-width: 1000px;
    margin: 0 auto;
}

section{
    font-size: 4rem;
}

.couleur-1{
    background-color: aquamarine;
    color:black;
}
.couleur-2{
    background-color: rgb(220, 56, 15);
    color:rgb(248, 246, 246);
}
.couleur-3{
    background-color: rgb(51, 190, 44);
    color:rgb(251, 249, 249);
}
.couleur-4{
    background-color: rgb(21, 48, 170);
    color:rgb(235, 229, 229);
}