*{
    box-sizing: border-box;
}

body{
    margin:0;
    padding:0;
}

section{
    height: 100vh;
}

.un{
    background-color: aquamarine;
}
.deux{
    background-color: rgb(255, 225, 127);
}
.trois{
    background-color: rgb(127, 161, 255);
}
.quatre{
    background-color: rgb(214, 127, 255);
}
.cinq{
    background-color: rgb(255, 127, 176);
}

.menu{
    position : fixed;
    width : 350px;
    top:0;
    right: 0;
}