*{
    box-sizing: border-box;
}
html{
    font-size:14px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body{
    margin : 0;
    padding :0
}
h1,h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin : 0;
}
figure{
    margin : 0;
    padding:0;
}

.haut, .bas{
    background-color: #f5f5dc;
}
.millieu{
     background-color: rgb(88, 227, 199);
}


.centre{
    max-width : 1100px;
    margin : 0 auto;
    background-color: #ffffff7a;
    padding: 30px 25px;
}
/* /////////////////////////////////////////////////////////// .entete */

.entete{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.entete__titre{
    display : flex;
     align-items: center;
     gap : 20px;
}

.entete__navform{
    display : flex;
    flex-direction: column;
    align-items: flex-end;
}



/* /////////////////////////////////////////////////////////// .principal */


.principal{
    display:flex;
    flex-wrap: wrap;
    gap : 20px;
}

.principal__article {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 400px;
}

.principal__article p {
    line-height: 1.7rem;
}

.principal__figure {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 400px;
}

.principal__figure  img{
    display : block;
    width: 100%;
    object-fit: cover;
}
/* /
/* /////////////////////////////////////////////////////////// . pied */

.pied{
       display:flex;
    flex-wrap: wrap;
    gap : 20px; 
}

.pied__section{
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 200px;
}
.pied__cours{
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 200px;
}
.pied__resume{
    flex-grow: 2;
    flex-shrink: 0;
    flex-basis: 390px;
}
.pied__sociaux{
       display:flex;
    gap : 20px;


}