.recherche {
            border : 1px solid #ccc;
            display : inline-block;
            background-color: #00000021;
          
        }

        .recherche__input {
            background-color: transparent;
            border : none;
            display: inline-block;
            vertical-align: top;
            padding:8px;
            color :#ccc;

        }
        .recherche__input:focus {
            outline : none;

        }

        .recherche__input::placeholder{
            color : #fff;
        }
        
        .recherche__img {
            display: inline-block;
            vertical-align: top;
            margin:8px;
        }
