*{
    box-sizing: border-box;
}

html{
    font-size: 14px;
    font-family: 'Times New Roman', Times, serif;
}
body{
    margin:0;
    padding:0;
    background-color: rgb(61, 141, 203);
}
.centre{ 
    max-width: 1300px;
    margin:30px auto;
    background-color: #ffffff3a;
}











table{
    border-collapse: collapse;
    width: 100%;
     border : 1px dotted #2f383f;
}

tr{}
td,th{
    border : 1px dotted #2f383f;
     font-size: 1rem;
     padding : 5px;
     text-align:left;
}
th{
    font-style: italic;
    font-weight: bold;
}


caption {
    font-size: 2rem;
    padding : 7px;
    border : 1px dotted #2f383f;
}

tbody tr:nth-of-type(odd){
    background-color: #0000001a;
}
