*{
    box-sizing: border-box;
}
html{
    font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    margin:0;
    padding:0;
}

.centre{
    max-width: 1100px;
    margin :0 auto;
    border: 1px solid #aaa;
    background-color: #ffffff7f;
}

.haut,.bas{
    background-color: rgb(165, 93, 42);
}
.millieu{
        background-color: rgb(61 151 184);
}

/* ////////////////////////////////////////////////////// entete */

.entete{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap:20px;
    padding : 30px 15px;
}

.entete__titre h1{
    margin:0;
    font-size : 3rem;
}
.entete__titre h2{
    margin:0;
}

.entete__navigation{
    display: flex;
    flex-direction: column;
    gap : 20px;
}

.entete__navigation nav {
   
}
.entete__navigation nav a {
    display: inline-block;
    text-decoration: none;
    padding : 3px 5px;
    color :aliceblue;
}


/* ////////////////////////////////////////////////////// principal */
.principal {}
.principal__section{
    display:flex;
    flex-wrap: wrap;
    gap: 20px;
}
.principal__article {
    flex-grow: 1; /* peut grandir */
    flex-shrink: 0; /* peut pas se compresser */
    flex-basis:  340px; /* largeur minimum de l'article */;
    border : 1px solid #aaa;
}


/* ////////////////////////////////////////////////////// pied de page */
.pied{}
